.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  li {
    font-size: 0.7em;

    p {
      color: black;
      cursor: pointer;

      @media screen and (max-width: 1110px) {
        display: none;
      }
    }
  }
}


