.form__group {
  margin: 20px 0px;
  input {
    padding: 5px 5px 5px 20px;
    height: 40px;
    width: 260px;
    border: 1px solid black;
    transition: 0.3s all;

    @media screen and (max-width: 480px) {
      height: 30px;
      width: 220px;
     }

    &::placeholder {
      position: absolute;
      top: 35%;
      left: 20px;
      font-size: 15px;
      color: #8c8c8c;
    }
    &:focus {
      border-width: 2px;
      transition: 0.3s all;
      color: black;
    }
  }
}
