.card__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  cursor: pointer;


  .card__container {
    img {
      width: 200px;
      height: 100px;
      background-color: black;

      border-radius: 0px;
      transition-property: border-radius;
      transition-duration: 0.5s;

      &:hover {
        border-radius: 5px;
        transition-property: border-radius;
        transition-duration: 0.5s;
      }
    }
  }
  .card__text {
    margin-top: 10px;
    text-align: center;
    color: black;
    font-size: 1em;
  }
}
