.card__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  cursor: pointer;

  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;

  &:after {
    display: block;
    content: "";
    border-bottom: solid 1px #000000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
  .card__text {
    margin-top: 40px;
    text-align: center;
    color: black;
    font-size: 1em;

    b{
        font-weight: bold;
    }
  }
}
