.header__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin-right: 20px;

  .header__admin{
    margin: 0 30px;
  }

  .header__spot{
    margin: 30px;
  }

  p{
    color: black;
  }
  
}
