.card__component {
  margin: 30px;
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;

  &:after {
    display: block;
    content: "";
    border-bottom: solid 1px #000000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }

  .card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
