.title__page {
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 616px) {
    font-size: 1.8em;
   }
   @media screen and (max-width: 616px) {
    font-size: 1.6em;
   }
   @media screen and (max-width: 596px) {
    font-size: 1.5em;
   }
   @media screen and (max-width: 553px) {
    font-size: 1.3em;
   }
   @media screen and (max-width: 485px) {
     margin-bottom: 0px;
    font-size: 1.3em;
   }
  @media screen and (max-width: 464px) {
    font-size: 1.3em;
   }
   @media screen and (max-width: 402px) {
    font-size: 1.2em;
   }
}
