body {
  font-family: $mainFont;
  background-color: white;
  color: #e5e5e5;
}

main {
  min-height: 77vh;
}

p {
  font-size: 15px;
}

span {
  color: #777;
  font-size: 15px;
}

h1 {
  text-transform: uppercase;
  font-size: 2.2em;
  margin: 50px 5px;
}
h2 {
  text-transform: uppercase;
  font-size: 2em;
  margin: 50px 5px;
}
h3 {
  text-transform: uppercase;
  font-size: 1.6em;
  // margin-top: 20px;
}
h4 {
  font-family: $titleFont;
  font-size: 40px;
}
h5 {
  font-family: $titleFont;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #e5e5e5;
}
a:hover {
    color: #b3b3b3;
    transition: color 0.4s;
  }


